@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #4B4B4B; 
}

body h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #ffffff; }

body h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px; }

body h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px; }

body h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px; }

body h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px; }

body h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1F4564; }

.subheading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #135658; }

.common-heading h2 {
  font-weight: bold;
  text-align: center;
  color: #135658;
  margin-bottom: 30px; }

.common-heading h3 {
  color: #135658;
  text-align: center;
  margin-bottom: 40px; }

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #135658; }

@media (max-width: 767px) {
  body h1 {
    font-size: 36px;
    line-height: 42px; }
  body h2 {
    font-size: 26px !important;
    line-height: 32px !important; }
  body h3 {
    font-size: 22px !important;
    line-height: 28px !important; }
  body h4 {
    font-size: 20px !important;
    line-height: 28px !important; }
  body h5 {
    font-size: 16px !important;
    line-height: 20px !important; }
  body h6 {
    font-size: 14px !important;
    line-height: 18px !important; } }

.main-wrapper {
  margin-top: 0;
  min-height: calc(100vh - 150px); }

body {
  background: #fff url(../images/body-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; }

@media (min-width: 1200px) {
  body .container {
    max-width: 1200px; } }

nav .breadcrumb {
  background: #ffffff;
  margin-bottom: 0;
  padding-left: 50px;
  padding-right: 50px; }

.breadcrumb li.breadcrumb-item {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: #135658; }

.breadcrumb li.breadcrumb-item a {
  color: #135658; }

.image-text-sec {
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 70px; }

.tangerine-bg {
  background-color: #FF9A83 !important; }

.brder-botm0 {
  border-bottom: 0 !important; }

input:focus, textarea:focus, select:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: #36bc84; }

/*partials*/
header {
  padding: 15px 55px 37px 55px;
  margin: 0 70px;
  background: #fff; }
  header .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.nav-bar {
  padding: 0 55px;
  margin: 0 70px;
  background: #fff; }

nav[aria-label] {
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
  margin-bottom: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  nav[aria-label] a.transparent-btn.float-right {
    margin-top: 10px; }

.search-bar input {
  background: #E5F1EA;
  border: 1px solid #135658;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #135658;
  opacity: 0.5;
  padding: 9px 17px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 550px; }

.search-bar button {
  background: #1F4564;
  border-radius: 0px 20px 20px 0px;
  padding: 8px 18px;
  border: 0; }
  .search-bar button i {
    font-size: 18px;
    color: #fff;
    font-weight: 100; }

.header--nav nav ul {
  padding-left: 0;
  margin-bottom: 15px; }
  .header--nav nav ul li {
    display: inline-block;
    padding-right: 32px;
    /*&.active a {
				    border-bottom: 2px solid #33BC84;
				    padding-bottom: 10px;
				}*/ }
    .header--nav nav ul li a {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #135658; }

.account-dropdown {
  text-align: right; }
  .account-dropdown ul {
    padding-left: 0;
    margin-bottom: 0; }
    .account-dropdown ul li {
      list-style-type: none; }
      .account-dropdown ul li a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #135658; }
        .account-dropdown ul li a img {
          margin-right: 6.67px; }
        .account-dropdown ul li a span {
          display: inline-block;
          position: relative;
          top: 2px; }
        .account-dropdown ul li a i {
          font-weight: 400;
          padding-left: 9.24px;
          position: relative;
          top: 3px; }

@media (max-width: 767px) {
  .header--nav .mobile-toggle {
    right: 0;
    left: auto;
    display: block;
    cursor: pointer;
    position: absolute;
    right: auto;
    top: -98px;
    width: 30px;
    left: auto;
    right: 0; }
    .header--nav .mobile-toggle span {
      display: block;
      background: #333;
      height: 3px;
      border-radius: 2px;
      margin: 5px 0;
      -webkit-transition: all ease-in-out 0.4s;
      -o-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;
      position: relative;
      width: 26px; }
  .header--nav .mobile-toggle.active {
    top: 32px; }
    .header--nav .mobile-toggle.active span {
      width: 26px;
      margin: 3px 0; }
      .header--nav .mobile-toggle.active span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 3px; }
      .header--nav .mobile-toggle.active span:nth-child(2) {
        opacity: 0; }
      .header--nav .mobile-toggle.active span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -9px; }
  .header--nav nav {
    display: none;
    position: relative; }
    .header--nav nav ul {
      position: absolute;
      z-index: 9;
      background: #fff;
      width: 100%; }
      .header--nav nav ul li {
        display: block;
        padding-right: 0;
        border-bottom: 1px solid #f2f2f2; }
        .header--nav nav ul li a {
          width: 100%;
          display: block;
          text-align: left;
          padding-bottom: 5px;
          padding-top: 5px; }
  .logo img {
    width: 100px; }
  body .header--nav .mobile-toggle.active {
    top: -92px; }
  body .search-bar input {
    width: 100%;
    padding: 5px 10px; }
  body header {
    padding-bottom: 15px; }
  body .news-menu-sec {
    padding: 0 15px; }
  body .news-menu {
    padding: 0 0px; }
  .search-bar {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .search-bar button {
      padding: 4px 18px; }
      .search-bar button i {
        font-size: 13px; }
  .account-dropdown {
    text-align: right;
    position: fixed;
    top: 15px;
    left: 140px; }
  .nav-bar.active .account-dropdown {
    display: none; }
  .view-products .content-block {
    margin-bottom: 30px; }
  nav .breadcrumb {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 767px) and (min-width: 576px) {
  .nav-bar .account-dropdown {
    left: 235px; } }

@media (max-width: 575px) {
  .header--nav .mobile-toggle {
    left: auto;
    right: 10px; } }

footer {
  padding: 45px 125px 0  125px; }
  footer .container .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
    align-items: center;
    margin-bottom: 40px; }
  footer .footer-menus ul {
    padding-left: 0;
    margin-bottom: 0; }
    footer .footer-menus ul li {
      display: inline-block;
      padding-right: 37px; }
      footer .footer-menus ul li a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #135658;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        footer .footer-menus ul li a:hover {
          color: #36bc84; }

.social-icons ul {
  padding-left: 0;
  margin-bottom: 0; }
  .social-icons ul li {
    display: inline-block;
    padding: 0 8px; }
    .social-icons ul li a {
      font-size: 20px;
      color: #FF9A83;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .social-icons ul li a:hover {
        color: #f94b23; }

.copyright .row p {
  border-top: 1px solid #135658;
  padding-top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #135658;
  margin-bottom: 0; }
  .copyright .row p a {
    font-weight: 600;
    color: #36bc84;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

/*Components*/
.Primary-btn {
  background: #33BC84;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 13px 41px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .Primary-btn:hover {
    background: #039149;
    text-decoration: none;
    color: #ffffff; }

.transparent-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #135658;
  padding: 14px 45px;
  border: 1px solid #135658;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .transparent-btn:hover {
    background: #039149;
    text-decoration: none;
    color: #ffffff; }

.showmore-btn {
  background: #FF9A83;
  border-radius: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 11px 15px;
  color: #135658;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.show-more-btn a.showmore-btn {
  display: inline-block; }

.show-more-btn {
  padding-top: 56px; }

.show-more-btn a.showmore-btn:hover {
  text-decoration: none;
  background: #039149;
  color: #ffffff; }

/*custom check box css start here*/
.label-text {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.label-text input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 13.67px;
  width: 14.67px;
  background: #fff;
  border: 2px solid #135658;
  border-radius: 2px; }

.label-text:hover input ~ .checkmark {
  background-color: #fff; }

.label-text input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid #33BC84; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.label-text input:checked ~ .checkmark:after {
  display: block; }

.label-text .checkmark:after {
  left: 3px;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid #33BC84;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.category-block label, .brands-block label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  color: #1F4564;
  margin-bottom: 2px;
  padding-left: 24.33px; }

#acc-main {
  margin: 0 0; }

section.faq-sec {
  background: #ffffff; }

div#faq {
  padding: 0 50px; }

#acc-main #faq .card {
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px solid #E5F1EA; }

#acc-main #faq .card .card-header {
  border: 0;
  border-radius: 2px;
  padding: 0;
  background: transparent; }

.btn.focus, .btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

#acc-main #faq .card .card-header .btn-header-link {
  display: block;
  text-align: left;
  color: #222;
  padding: 19px 0 19px 0;
  border-radius: 0; }

#acc-main #faq .card .card-header .btn-header-link:after {
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  float: right; }

#acc-main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f106"; }

#acc-main #faq .card .collapsing {
  /*  background: #FFE472;*/
  /* line-height: 30px;*/ }

#acc-main #faq .card .collapse {
  border: 0; }

/*
#acc-main #faq .card .collapse.show {  
  line-height: 30px;
  color: #222;
}*/
#acc-main #faq .card .collapse .card-body {
  padding-left: 35px;
  padding-top: 0;
  padding-bottom: 0; }

.faq-sec .common-heading h2 {
  margin-bottom: 20px;
  text-align: left;
  padding-left: 50px; }

.banner-content {
  background-image: url(../images/banner-img.png);
  background-size: cover;
  width: 100%;
  padding: 146px 50px 146px 50px; }
  .banner-content h1 {
    margin-bottom: 20px; }
  .banner-content p.subheading {
    margin-bottom: 30px;
    color: #ffffff; }
  .banner-content a.Primary-btn {
    display: inline-block; }

.view-products {
  padding: 70px 50px;
  background: #ffffff;
  margin: 0 70px; }
  .view-products .content-block {
    position: relative; }
    .view-products .content-block:before {
      content: "";
      position: absolute;
      background: #33BC84;
      width: 50px;
      height: 2px;
      left: 0;
      top: -36px; }
    .view-products .content-block h2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      color: #135658;
      margin-bottom: 23px; }
    .view-products .content-block p {
      margin-bottom: 20px;
      color: #135658; }
    .view-products .content-block a.transparent-btn {
      display: inline-block; }

.product-block {
  border: 1px solid #ccc;
  padding: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .product-block a {
    display: block; }
    .product-block a span {
      font-weight: 500;
      min-height: 80px;
      display: inline-block; }
  .product-block img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .product-block:hover {
    background: #f2f2f2; }

.recent-news {
  background: #FFF4DF;
  margin: 0 90px;
  padding: 70px 140px; }

.news-block-content {
  background: #ffffff;
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0px;
  margin-bottom: 30px; }
  .news-block-content figure {
    margin-bottom: 20px; }
    .news-block-content figure img {
      width: 100%; }
  .news-block-content .news-desc {
    padding: 0 10px 30px 16px; }
    .news-block-content .news-desc h6 {
      margin-bottom: 20px; }
    .news-block-content .news-desc p {
      margin-bottom: 0; }
  .news-block-content:hover {
    -webkit-box-shadow: 0px 10px 20px rgba(75, 75, 75, 0.1);
    box-shadow: 0px 10px 20px rgba(75, 75, 75, 0.1); }

.weheretohelp {
  background-color: #fff4df;
  margin: 0 90px;
  padding: 0 55px 70px 55px; }
  .weheretohelp .help-wrapper {
    background: #ffffff;
    padding: 70px; }
    .weheretohelp .help-wrapper .help-desc {
      text-align: center; }
      .weheretohelp .help-wrapper .help-desc img {
        margin-bottom: 20px; }
      .weheretohelp .help-wrapper .help-desc h5 {
        margin-bottom: 20px;
        color: #1F4564; }
      .weheretohelp .help-wrapper .help-desc p {
        margin-bottom: 0; }

.insta-library {
  background: #33BC84;
  margin: 0 90px;
  padding: 70px 0; }
  .insta-library .common-heading h3 {
    color: #ffffff; }

.insta-block ul {
  padding-left: 0;
  text-align: center;
  margin-bottom: 0; }
  .insta-block ul li {
    display: inline; }
    .insta-block ul li a {
      display: inline-block;
      margin-bottom: 5px; }

/*about pages css start here*/
.text-box {
  padding-top: 70px;
  padding-bottom: 41px; }
  .text-box p:last-child {
    margin-bottom: 0; }

.image-box img {
  width: 100%; }

section.leads {
  margin: 0 70px;
  padding: 70px; }

.leader-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px; }
  .leader-block .leader-image {
    width: 223px;
    float: left; }
  .leader-block .leader-bio {
    width: calc(100% - 223px);
    padding-left: 80px;
    padding-right: 80px;
    float: left; }
  .leader-block:last-child {
    margin-bottom: 0; }

.leader-bio .leader-name {
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 44px;
  color: #1F4564; }

body .breadcrumb-item + .breadcrumb-item::before {
  content: "\f105";
  font-family: 'Font Awesome 5 Pro';
  color: #135658;
  font-size: 13px;
  top: 1px;
  position: relative; }

/*brands page css*/
.brand-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  background: #135658;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-left: 70px;
  padding-right: 53px; }
  .brand-desc h1 {
    width: 100%;
    margin-bottom: 20px; }
  .brand-desc p {
    color: #ffffff;
    margin-bottom: 0; }

.brand-logos img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.brand-sec {
  background: #ffffff; }

/*all brands logo css*/
.all-brand-logo-sec {
  padding: 70px 0;
  background: #ffffff; }

.logos-content-block {
  width: 20%;
  float: left;
  text-align: center;
  height: 198px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .logos-content-block img {
    display: inline-block; }
  .logos-content-block span {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #135658; }
  .logos-content-block:hover {
    background: rgba(255, 244, 223, 0.5); }
    .logos-content-block:hover .btns-block {
      display: -webkit-inline-box !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important; }

.btns-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .btns-block a {
    display: inline-block;
    width: 117px;
    padding: 10px 10px;
    border-radius: 0;
    font-size: 12px;
    margin: 0 0px;
    border: 0; }
  .btns-block a.transparent-btn {
    color: #135658; }
    .btns-block a.transparent-btn:hover {
      color: #ffffff; }

/*product page css starts here*/
.product-view-sec {
  padding-top: 46px; }

.sidebar .category-block {
  border-top: 1px solid #AEAEAE;
  border-bottom: 1px solid #AEAEAE;
  padding-top: 30px;
  padding-bottom: 20.17px; }
  .sidebar .category-block h5 {
    margin-bottom: 24px; }

.sidebar .brands-block {
  border-bottom: 1px solid #AEAEAE;
  padding-top: 30px;
  padding-bottom: 20.17px; }
  .sidebar .brands-block h5 {
    margin-bottom: 24px; }

.product--listing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 56px 30px; }
  .product--listing .product-desc a {
    display: block; }
    .product--listing .product-desc a img {
      width: 100%;
      margin-bottom: 10px; }
    .product--listing .product-desc a label {
      display: block;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #1F4564; }

.show-more-btn.text-center {
  margin-bottom: 40px; }

/*productdetail page css*/
.product-detail-cart {
  background-color: #ffffff; }

.showcase-wrapper {
  padding: 0 0;
  display: inline-block; }
  .showcase-wrapper .thumb-previewer {
    padding: 0 8px;
    background: #ffffff;
    float: left;
    width: calc(100% - 48px); }
  .showcase-wrapper .thumb-img {
    margin-left: 0;
    margin-top: 0;
    float: left;
    padding-left: 0;
    width: 48px; }
    .showcase-wrapper .thumb-img li {
      margin-left: 0;
      list-style-type: none;
      margin-bottom: 12px; }
      .showcase-wrapper .thumb-img li a {
        display: block;
        padding: 0;
        background: #ffffff; }
      .showcase-wrapper .thumb-img li img {
        max-width: 100%;
        height: 48px; }

.cart-content {
  padding-left: 59px; }
  .cart-content h4 {
    color: #135658;
    margin-bottom: 20px; }
  .cart-content p {
    line-height: 20px; }
    .cart-content p:nth-child(3) {
      margin-bottom: 0 !important; }
  .cart-content .btns-block {
    width: 100%;
    display: inline-block; }
    .cart-content .btns-block a.showmore-btn {
      margin-left: 13px;
      color: #ffffff; }
    .cart-content .btns-block a {
      padding: 10px 25px;
      width: auto;
      border-radius: 4px;
      text-decoration: none; }

.product-detail-description-sec {
  padding: 70px 0;
  background: #ffffff; }
  .product-detail-description-sec .content-block {
    background: rgba(19, 86, 88, 0.05);
    padding: 70px; }

h6.black-heading {
  color: #4B4B4B;
  font-weight: normal;
  margin-bottom: 10px; }

.content-block p {
  color: #4B4B4B;
  font-weight: normal;
  margin-bottom: 30px; }

.content-block h4 {
  color: #135658;
  margin-bottom: 30px; }

.content-block ul {
  padding-left: 0; }
  .content-block ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #135658;
    margin-bottom: 10px;
    position: relative;
    list-style-type: none;
    padding-left: 31.25px; }
    .content-block ul li:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../images/list-icon.svg);
      background-size: 20px;
      width: 20px;
      height: 20px; }

h6.green-heading {
  color: #135658;
  margin-bottom: 20px; }

p.green-para {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #135658;
  margin-bottom: 30px; }

/*partners page*/
.all-brand-logo-sec.partners {
  padding-top: 0; }
  .all-brand-logo-sec.partners .logos-content-block {
    height: auto;
    margin-bottom: 50px; }
  .all-brand-logo-sec.partners .common-heading {
    padding: 0 50px; }
    .all-brand-logo-sec.partners .common-heading h2 {
      font-weight: 500;
      text-align: left; }

section.btn-list-sec {
  background: #ffffff;
  padding-left: 125px;
  padding-right: 125px; }

.normal-listing {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #C4C4C4; }
  .normal-listing:last-child {
    border: 0; }
  .normal-listing .left-block {
    width: 747px;
    float: left; }
    .normal-listing .left-block h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #135658;
      margin-bottom: 20px; }
    .normal-listing .left-block p {
      margin-bottom: 0; }
  .normal-listing .right-block {
    float: left;
    width: calc(100% - 747px);
    text-align: right; }
    .normal-listing .right-block a {
      display: inline-block; }

a.transparent-btn.resgister-btn {
  background: #FFF4DF;
  border: 1px solid #039149;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px; }
  a.transparent-btn.resgister-btn:hover {
    background: #039149; }

/*news page css start here*/
.news-menu-sec {
  padding: 0 90px;
  background-color: #ffffff; }

.news-menu {
  padding: 0 50px; }
  .news-menu ul {
    padding-left: 0;
    margin-bottom: 50px; }
    .news-menu ul li {
      display: inline-block;
      padding-right: 40px; }
      .news-menu ul li a {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #135658; }
  .news-menu h3 {
    color: #1F4564;
    line-height: 35px;
    font-weight: 500; }

/*post detail page css*/
.post-left-content {
  padding-left: 50px; }
  .post-left-content h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #1F4564;
    margin-bottom: 15px; }
  .post-left-content date {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #135658;
    margin-bottom: 41px;
    display: block; }
  .post-left-content img {
    width: 100%;
    margin-bottom: 22px; }
  .post-left-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #135658;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #135658;
    margin-bottom: 20px; }
  .post-left-content a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #33BC84;
    padding-left: 48px;
    padding-right: 48px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 30px; }

.social-share {
  display: inline-block; }
  .social-share span {
    display: inline-block;
    float: left;
    position: relative;
    top: 5px; }
  .social-share ul {
    padding-left: 12px;
    float: left;
    margin-bottom: 0 !important; }
    .social-share ul li {
      display: inline-block;
      padding-right: 5px; }
      .social-share ul li a {
        padding: 0;
        border: 2px solid #1F4564;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 103px;
        width: 35px;
        height: 35px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        color: #1F4564; }

.post-right-content {
  padding-right: 50px;
  padding-left: 50px; }
  .post-right-content h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #135658; }
  .post-right-content ul {
    padding-left: 0; }
    .post-right-content ul li {
      list-style-type: none; }
      .post-right-content ul li a {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #33BC84; }

/*contact page css*/
.allfaq-block {
  background: #FF9A83;
  border-radius: 0px;
  padding: 54px 60px; }
  .allfaq-block a.transparent-btn {
    display: inline-block;
    background: #ffffff;
    border: 1px solid #1F4564;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px; }
    .allfaq-block a.transparent-btn:hover {
      background: #039149; }
  .allfaq-block h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #ffffff;
    margin-bottom: 30px; }

.contact-sec .common-heading h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #135658;
  padding-left: 50px;
  padding-right: 50px; }

.contact-sec form {
  padding: 70px 70px; }
  .contact-sec form .form-group {
    margin-bottom: 25px; }
    .contact-sec form .form-group input {
      background: #ffffff;
      border: 1px solid #cccccc;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px 21px;
      height: auto;
      border-radius: 0; }
    .contact-sec form .form-group Select {
      background: #ffffff;
      border: 1px solid #cccccc;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px 21px;
      height: auto;
      border-radius: 0; }
    .contact-sec form .form-group textarea {
      background: #ffffff;
      border: 1px solid #cccccc;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px 21px;
      height: auto;
      border-radius: 0; }
  .contact-sec form button.Primary-btn {
    border: 0;
    border-radius: 0;
    margin-top: 15px; }

form .form-group label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #135658;
  margin-bottom: 10px; }

body form .form-group input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #135658;
  opacity: 0.5; }

body form .form-group input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #135658;
  opacity: 0.5; }

body form .form-group input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #135658;
  opacity: 0.5; }

body form .form-group input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #135658;
  opacity: 0.5; }

@media (max-width: 1300px) {
  header {
    margin: 0 20px;
    padding: 15px 20px 37px 20px; }
  .nav-bar {
    padding: 0 20px;
    margin: 0 20px; }
  .product-block a span {
    font-size: 15px;
    line-height: 22px; }
  .view-products {
    padding: 70px 20px;
    margin: 0 20px; }
  .recent-news {
    margin: 0 30px;
    padding: 70px 20px; }
  .weheretohelp {
    margin: 0 30px;
    padding: 0 20px 70px 20px; }
  .insta-library {
    margin: 0 30px; }
  .brand-logos img {
    height: 100%; } }

@media (max-width: 991px) {
  header {
    margin: 0 0px;
    padding: 15px 0px 37px 0px; }
  .nav-bar {
    padding: 0 0px;
    margin: 0 0px; }
  .view-products {
    padding: 50px 0px;
    margin: 0 0px; }
    .view-products .content-block h2 {
      font-size: 30px;
      line-height: 40px; }
    .view-products .content-block:before {
      top: -10px; }
  .recent-news {
    margin: 0 0px;
    padding: 50px 0px; }
  .weheretohelp {
    margin: 0 0px;
    padding: 0 0px 50px 0px; }
    .weheretohelp .help-wrapper {
      padding: 50px 0px; }
  .insta-library {
    margin: 0 0px; }
  .search-bar input {
    width: 400px; }
  .header--nav nav ul li a {
    font-size: 14px;
    line-height: 18px; }
  .account-dropdown ul li a {
    font-size: 14px;
    line-height: 18px; }
  .product-block {
    margin-bottom: 20px; }
    .product-block a span {
      min-height: 40px; }
  .news-block-content figure img {
    height: auto; }
  .news-block-content .news-desc h6 {
    margin-bottom: 10px; }
  body h6 {
    font-size: 14px;
    line-height: 20px; }
  p {
    font-size: 12px;
    line-height: 18px; }
  footer .footer-menus ul li {
    padding-right: 20px; }
  footer .container .row {
    margin-bottom: 15px; }
  .social-icons ul li {
    padding: 0 5px; }
    .social-icons ul li a {
      font-size: 18px; }
  .logo {
    margin-bottom: 15px; }
  section.leads {
    margin: 0 0px;
    padding: 40px; }
  .image-text-sec {
    padding-left: 40px;
    padding-right: 40px; }
  .image-box img {
    width: 100%;
    height: auto; }
  .leader-block .leader-bio {
    padding-left: 30px; }
  .brand-logos img {
    height: 200px; }
  .logos-content-block {
    width: 25%; }
  .product--listing {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px; }
  nav .breadcrumb {
    padding-left: 0;
    padding-right: 0; }
  .contact-sec .common-heading h1 {
    padding-left: 0;
    padding-right: 0; }
  .contact-sec form {
    padding: 50px 0px; } }

@media (max-width: 767px) {
  .weheretohelp .help-wrapper .help-desc {
    margin-bottom: 30px; }
  .footer-menus {
    margin-bottom: 15px; }
  .copyright .row p {
    margin-bottom: 10px; }
  br {
    display: none; }
  .image-box img {
    margin-bottom: 30px; }
  .text-box {
    padding-top: 50px; }
  .image-text-sec {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px; }
  .brand-desc {
    display: block;
    padding: 30px; }
  .logos-content-block {
    width: 33%;
    height: 150px; }
  .col-12.pr-0 {
    padding-right: 15px !important; }
  .col-12.pl-0 {
    padding-left: 15px !important; }
  .product--listing {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); }
  .product-detail-description-sec .content-block {
    padding: 20px; }
  .cart-content {
    padding-top: 30px;
    padding-left: 0; }
  .normal-listing {
    display: block;
    border: 0;
    float: left; }
    .normal-listing .left-block {
      width: 100%;
      float: left;
      margin-bottom: 15px; }
    .normal-listing .right-block {
      float: left;
      width: 100%;
      text-align: left; }
  .all-brand-logo-sec {
    padding: 30px 0; }
  .faq-sec .common-heading h2 {
    padding-left: 0; }
  div#faq {
    padding: 0 0px; } }

@media (max-width: 575px) {
  .banner-content {
    padding: 50px 20px 50px 20px; }
  .leader-block {
    display: block; }
    .leader-block .leader-image {
      width: 100%;
      text-align: center;
      margin-bottom: 20px; }
    .leader-block .leader-bio {
      padding-left: 0;
      text-align: center;
      width: 100%; }
  .logos-content-block {
    width: 50%; }
  .all-brand-logo-sec {
    padding: 30px 0; }
  .cart-content .btns-block a {
    width: 100%;
    margin: 5px 0 !important; }
  .breadcrumb li.breadcrumb-item {
    display: inline-block; }
  nav .breadcrumb {
    display: block;
    padding-left: 0;
    padding-right: 0; }
  nav[aria-label] {
    display: block; }
    nav[aria-label] a.transparent-btn.float-right {
      margin-top: 10px;
      float: left !important; }
  .news-menu ul {
    padding-left: 0;
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 20px; }
  #acc-main #faq .card .card-header .btn-header-link {
    font-size: 15px; }
  .allfaq-block {
    padding: 20px; } }
